
h1{
	font-family: "Merriweather", serif;
	float: left;
}
nav{
	float:right;
	font-family: "Oswald";
}
.main{
	clear:both;
	background-image:"img/coworking.jpg";
}
p span.taste{
	clear:both;
	text-decoration: line-through;
}
p span.are{
	text-decoration: underline;
}
p{
	clear:both;
	text-align: center;
	background-color:  #C6C6C6;
	font-family: "Merriweather";
}
body.main.box.button{
	background-color: yellow;
}
.box{
	background-color: rgba(192,192,192,0.3);
	float:right;
	padding-right: 20px;
	width: 200px;
}