header{
	background-color: black;
	overflow: auto;
	padding:10px 10px;
	margin:nones;
}
h1{
	color: yellow;
	float:left;
	font-family: "Merriweather", serif;
	font-size:12px;
}
nav{
	font-family: "Oswald";
	color: white;
	float:right;
}
.main{
	overflow: auto;
	background:url(../img/coworking.jpg);
	padding:20px;
}
span.taste{
	clear:both;
	text-decoration: line-through;
}
span.are{
	text-decoration: underline;
}
p{
	clear:both;
	text-align: center;
	background-color:  #C6C6C6;
	font-family: "Merriweather";
	padding: 20px;
	margin: none;
}
.button{
	background-color: yellow;
	font-family: "Oswald";
	text-align: center;
	width: 400px;
	float:none;
}
.box{
	background-color: rgba(192,192,192,0.3);
	float:right;
	padding: 40px;
	width: 475px;
	font-family: "Oswald";
}