
h1{
	font-family: "Merriweather", serif;
}
nav{
	float:right;
	font-family: "Oswald";
}
.main{
	clear:both;
	background-image:"img/coworking.jpg";
}
span.taste{
	clear:both;
	text-decoration: line-through;
}
span.are{
	text-decoration: underline;
}
p{
	clear:both;
	text-align: center;
	background-color:  #C6C6C6;
	font-family: "Merriweather";
}
.button{
	background-color: yellow;
	font-family: "Oswald";
	text-align: center;
	width: 400px;
	float:none;
}
.box{
	background-color: rgba(192,192,192,0.3);
	float:right;
	padding-right: 20px;
	width: 500px;
	font-family: "Oswald";
}