body{
	max-width: 720px;
	padding: 54px;
	font-family: Lato, Sans-serif;
	border: solid 6px #dddddd
	line-height:1.5;
}

h2{
	color:black;
}
.continue{
	text-align: right;
	color:red;
	font-weight: 500
}
.title{
	color:black;
}
.date{
	color:#cccccc;
}
nav{
	color:red;
	text-decoration: underline;
}
footer{
	color:#bbbbbb;
}