body{
	max-width: 720px;
	padding: 54px;
	font-family: Lato, Sans-serif;
	line-height: 1.5;
	border-left: solid 6px #dddddd;
}
h1{
	color:red;
	padding: 20px 0px;
}
h2{
	color:black;
	padding: 10px 0px;
}
.continue{
	padding-top: 10px;
	text-align: right;
	color:red;
	font-weight: 900;
}
.title{
	padding: 24px 0px;
	color:black;
	font-weight:800;
	font-size: 24px;
}
.date{
	padding-top:10px;
	color:#cccccc;
}
footer{
	padding-top:10px;
	color:#bbbbbb;
}
a.link{
	color:#DD0000;
}
a.hover{
	color:#aa0000;
}
a.link.nav{
	color:#dddddd;
}	
a.hover.nav{
	color:black;
}
img{
	padding: 24px 0px;
}